<div id="login">
    <div class="log_img">
         <a href="" onclick="cancel()">
            <%= image_tag 'cancel.png' , alt: 'speech-bubble', class: 'cross'  %></a>
         <%= image_tag 'india.png' , alt: 'speech-bubble', class: 'back_img' %>
    </div>
    <div class="log_con">
        <div>
            <input type="email" name="email" placeholder="Email Address" required autofocus>
            <input type="password" name="password" placeholder="Password" required>
            <a href=""><p>Forgot password?</p></a>
             <a href=""><p>Already an user</p></a>
            <button type="submit" class="loginBtn">Login</button>
        </div>
        
    </div>
</div>