
<div class="nav_bar">
<div class="ul_div">
    <ul>
        <a href="home"><li>Home</li></a>
        <a href="#"><li>About_us</li></a>
        <a href="login"><li>Log In</li></a>
    </ul>
</div>
</div>
  <div class="para">
      <p class='Question'>What is Mom's Delish ? </p><br>
      <%= image_tag 'happy.jpg' , alt: 'Happiness' , class: 'fam_pic'%>
      <div class='para_div'>
      
      <p class='paragraph'>
      <b>Happiness is Homemade❤️!</b> What is so special about homemade ? The answer is quite simple and straight. Anything homemade is not just tasty and healthy, but has a very special ingredient called unconditional love in it. One thing we would all cherish our entire lifetime would be our visits to our Grandmother's home. She would surprise us everytime with her culinary skills preparing a range of traditional delights and sometimes she even tries her hand into baking to makes some amazing cakes and cookies for her grandchildren. From time she gets to know our visit, she would start stocking up her big steel boxes with heavenly sweets, snacks and a range of other homemade delights that would beat any brand in the world hands down.
          The mission of Sweet Karam Coffee is just to bring back those priceless golden childhood memories by unearthing the traditional Indian delights of our Grandmothers through our network of expert home chefs and small home brands.The range of delights that gets into the shelves of our store like Athirasam, Murukku, Filter coffee powder, Ghee, Rice pappads, Avakkai, Idly podi, Puliyogare paste etc is nothing but a tribute to the selfless relationship called 'The Grandmother'.

          In addition to the traditional Indian delicacies, we also do have a range of homemade chocolates, cookies, brownies, cream buns, peanut butter, chocolate spreads, fruit jams, squashes and much more surprises for the recent generation but with a healthy and homemade twist.

          Our recent additions - Vegan and gluten free sweets & snacks, Instant breakfast mixes, healthy porridge mixes and finally the farm fresh organic grocers sourced directly from the small farmers has made Sweet Karam Coffee, India's favourite destination good food store for your entire family with zero preservatives and zero toxic chemicals.

          So, experience our tradition but with a healthy and homemade twist @ www.sweetkaramcoffee.in and unleash instant happiness because..
          'Happiness is Homemade' ❤️</p>
      </div>
  </div>
    
  <!-- <div class="para">
    <p>What is Mom's Delish ? </p>
</div> -->
