<!-- <h1>Hi I'm Main page!</h1> -->
<!-- <%= form_with url: "/search_user", method: :get do |form| %>
  <%= form.text_field :username %>
  <%= form.text_field :full_name %>
  <%= form.submit "Search" %>
<% end %> -->
<div class="nav_line">
<ul>
    <li><a href="">Pickles</a></li>
    <!-- <li>|</li> -->
    <li><a href="">Papads</a></li>
    <!-- <li>|</li> -->
    <li><a href="">Health Mix</a></li>
    <!-- <li>|</li> -->
    <li><a href="">Sweets</a></li>
    <!-- <li>|</li> -->
    <li><a href="">Snacks</a></li>
    <!-- <li>|</li> -->
    <li><a href="">Jaggery Sweets</a></li>

</ul>
</div>