<%# <h1>MomsDelishes#index</h1>
<p>Find me in app/views/moms_delishes/index.html.erb</p> %>


<%# <h1>Helllo</h1> %>
<%# <footer>
<img src="./assets/images/" alt="">
</footer> %>
<%# <div class="footer">
<p>I did this project - Annapoorani</p>
</div> %>