<%# <h1>MomsDelishes#index</h1>
<p>Find me in app/views/moms_delishes/index.html.erb</p> %>
<%# <h1>Helllo</h1> %>
<%# <footer>
<img src="./assets/images/" alt="">
</footer> %>
<%# <div class="footer">
<p>I did this project - Annapoorani</p>
</div> %>
 <link rel="icon" type="image/x-icon" href="./assets/images/snacks1.jpeg">

<%# <img src="./app/assets/images/snacks1.jpeg" alt="bg"> %>
<%# <%= image_tag 'snacks.jpg', alt: 'bg'  %> %>
<ul class="nav">
<li><a href="Index.html" class="home">Home</a></li>
<li><a href="Index.html">About us</a></li>
<li><a href="Index.html">Login</a></li>
<li><%= image_tag 'user_icon.png', alt: 'user', class:'user' %></li>
</ul>
<p class="content">
Get Exclusive <br>Regional Snacks<br> of India At your<br> Doorstep
</p>
<p class="tagline">
Experience the taste of mommy snacks
</p>
 <%= image_tag 'moms_delish1.png', alt: 'moms_delish', class:'mom' %>
<!-- <img src="../../assets/images/moms_delish_bg.jpg" > -->
