// body{
//     background-image: url( 'pink-bg.jpg') ;
//     background-repeat: no-repeat;
//     background-position:fixed;
//     background-size: cover;
// }
.item_input1{
    width: 20%;
    // height: 5;
    padding:1%;
    margin-bottom: -5%;
    margin-top: 12%;
    background-color: white;
    margin-left: 10%;
    border: 1px solid black;
}
.item_input2{
    width: 20%;
    // height: 5;
    padding:1%;
    background-color: white;
    margin-bottom: -5%;
    margin-top: 6%;
    margin-left: 55%;
    border: 1px solid black;
}
.item-div{
    width: 50%;
    height: 60vh;
    margin-top: 10%;
    margin-left: 25%;
    border-radius: 20px;
    background-color: #f7e2e2;
    // background-color: lightblue;
    border: 7px solid #de6262;
}
.item-div p{
    font-size: 28px;
    margin-left: 3%;
    font-weight: 700;
    color: #de6262;
    position: absolute;
    
}
.addbtn{
    // display: flex;
    padding: 1%;
    // margin: -5%;
    margin-top: 8%;
    margin-left: 75%;
    font-size: 20px;
    background:fixed;
    border: 10px;
 
    background-color: white;   // border-bottom: 2px solid lightgrey;
    outline:auto; 
}
// p{
//     position: absolute;
//     font-size: 25px;
//     font-weight: 400;
//     margin-left: 2%;
// }