.item_input{
    width: 10%;
    height: 5;
    padding: 0%;
    margin-bottom: -10%;
    margin-top: 15%;
}
.item-div{
    width: 50%;
    height: 60vh;
    background-color: orchid;
}
.addbtn{
    // display: flex;
    padding: 1%;
    margin: -5%;
    margin-top: 15%;
    margin-left: 10%;
    font-size: 20px;
    background:fixed;
    border: 10px;
    // border-bottom: 2px solid lightgrey;
    outline:auto; 
}