// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    margin: 0%;
    padding: 0%;
}
.nav_con{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    position: fixed;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(to bottom right, #de6262 ,  #ffb88c);
    border: 1px solid #F47C7C;
}
.nav_subCon{
    // position: fixed;
    position: relative;
    width: 100%;
    height: 10vh;
    // background-color: antiquewhite;
}
.nav_div{
    // position: sticky;
    // background-color: #F47C7C;
    width: 100%;
    height: 8vh;
    margin-top: 3.5%;
   
}
.nav_div li{
   
    display: inline-flex;
    margin-left: 7.5%;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1%;
}
.nav_div a{
    color: aliceblue;
}
.search{
    position: absolute;
    width: 25%;
    height: 5vh;
    text-align: center;
    padding: 0%;
    margin-left: 35%;
    // border-style:ridge;
    border: 1px solid whitesmoke;
    // outline: auto;
    background-color: aliceblue;
    margin-top:3%;
    
}
.search_img{
    position: absolute;
    width: 2%;
    margin-left: 57%;
    margin-top: 3.3%;
    // display:inline;
    
}
.item-container{
width: 80%;
height: 80vh;
// background-color: #de6262;
margin-top: 15%;
margin-left: 10%;
border-radius: 12px;

}
.img_div{
// background-color: red;
width: 100%;
height: 40vh;
border-radius: 12px;
}
.img_div1{
    display: inline-flex;
    width: 30%;
    height: 50vh;
    // background-color: black;
    margin-left: 2%;
    margin-top: 2%;
    // position: relative;
    border-radius: 12px;
    // border-top-left-radius: 12px;
    // border-top-right-radius: 12px;
}

.img_div1 img {
    width: 100%;
    height: 40vh;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    // width: 1000px;
    // position: fixed;
    // display:block;
    
}
.div_con{
  
    // display: block;
    margin-left: -100%;
    width: 100%;
    height: 10vh;
    background-color: #de6262;
    margin-top: 86%;
    // display: flex;
    vertical-align: bottom;
    // align-items: center;
    // justify-content: center;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}
.div_con img{
    width: 10%;
    height: 6vh;
       margin-top: 4%;
    margin-left:25%;
    display: inline;
}

.img-container{
    margin-left: 10px;
    padding-top: 10px;
    width: 300px;
    display: inline-flexbox;
    // background-color: black;
    
}

.img-container img{
    width: 300px;
    // display: inline-block;
}


.save-item{
    
   width: 1%;
   height:5vh;
    // margin-left: -19%;
    position:static;
    // bottom: 255px;
    // opacity: 0;
    // display: none;
    // visibility: hidden;
    // display: inline-flex;
    // margin-top: 5%;
}
.flash-msg{
    width: 20%;
    height: 6vh;
    background-color: #ec7b7b;
    position: absolute;
    // margin-top: 12%;
    margin-left: 35%;
    text-align: center;
    font-size: 25px;
    color: white;
    // top: 5%;
    
}
.flash-msg p{
    // margin-bottom:-5%;
    margin-top: 3%;
}

.item-container{
    width: 90%;
    height: 80vh;
    // background-color: lightgreen;
    margin-left: 5%;
    margin-top: 15%;
}
.item-whole-item-container{
    width: 25%;
    height: 55vh;
    // background-color: lightblue;
    margin-top: 5%;
    margin-left: 5%;
    // border: 1px solid black;
    // z-index: 0;
    float: left;
}
.show-item-container{
    width: 80%;
    height: 42vh;
    // border: 1px solid black;
    // background-color: red;
    margin:auto;
    border-radius: 15px;
}
.item-img-container{
    width: 100%;
    height: 35vh;
    // border: 1px solid black;
    // background-color: black;
    // margin:auto;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item-bttn{
    width: 100%;
    height: 7vh;
    // position: relative;
    // z-index: 0;
    background-color:#de6262 ;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.item-name-ptag{
    margin-left: 12%;
    font-size: 18px;
  
}
.item-price-ptag{
    font-size: 20px;
    margin-left: 35%;
    // margin: auto;
}
.item-content{
    width: 80%;
    height: 10vh;
    // background-color: orangered;
    margin-left: 10%;
}
.cart-item-img{
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}
.item-btn-img{
    width: 10%;
    // position: absolute;
    margin-top: 5%;
    // top: 20%;
    margin-left: 22%;
}
.pagination{
    width: 50%;
    height: 10vh;
    // background-color: #F47C7C;
    margin-top: 28%;
    margin-left: 45%;
    font-size: 20px;
}


.add{
    background-color: purple;
    display: flex;
    align-items: center;
    justify-content: center;

}
.add-btn{
    // display: block;
    padding: 1%;
    font-size: 18px;
    margin-left:85%;
    // position: absolute;
    position: fixed;
    margin-top: 12%;
    text-decoration: none;
    text-decoration-color: #de6262;
}
.add-btn a{
    color: #de6262;
}
.ptag{
    margin-top: 15%;
}