body{
    margin: 0%;
    padding: 0%;
}
.nav_con{
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    position: fixed;
    width: 100%;
    height: 25vh;
    background-image: linear-gradient(to bottom right, #de6262 ,  #ffb88c);
    border: 1px solid #F47C7C;
}
.nav_subCon{
    // position: fixed;
    position: relative;
    width: 100%;
    height: 10vh;
    // background-color: antiquewhite;
}
.nav_div{
    // position: sticky;
    // background-color: #F47C7C;
    width: 100%;
    height: 8vh;
    margin-top: 3.5%;
   
}
.nav_div li{
   
    display: inline-flex;
    margin-left: 7.5%;
    font-size: 25px;
    font-weight: 500;
    margin-top: 1%;
}
.nav_div a{
    color: aliceblue;
}
.search{
    position: absolute;
    width: 25%;
    height: 5vh;
    text-align: center;
    padding: 0%;
    margin-left: 35%;
    // border-style:ridge;
    border: 1px solid whitesmoke;
    // outline: auto;
    background-color: aliceblue;
    margin-top:3%;
    
}
.search_img{
    position: absolute;
    width: 2%;
    margin-left: 57%;
    margin-top: 3.3%;
    // display:inline;
    
}
.heart{
    width: 15%;
    height: 5vh;
    // background-color: aquamarine;
    // border: #F47C7C 1px solid;
    margin-left: 80%;
    margin-top: 3%;
    position: absolute;

}
.icons{
    // position: absolute;
    width: 14%;
    margin-left: 15%;
    display: inline;
    margin-top: 2%;
    
}
.main_img_1{
    // position: absolute;
    width: 50%;
    margin-left: -1%;
    margin-top: 10%;
    display: flex;
    // height: 50vh;
    
    
}
.main_img_2{
    display: flex;
    height: 60vh;
    width: 20.2%;
    margin-top: -31%;
    margin-left: 49%;
    // position: absolute;
}
.main_img_3{
    display: flex;
    width: 30.6%;
    height: 32vh;
    margin-top: -30.3%;
  
    margin-left:69.3%;
    // position: absolute;
}
.main_img_4{
    display: flex;
    width: 30.6%;
    height: 26.3vh;
    // margin-top: -30%;
    margin-left: 69.3%;
    // position: absolute;
}
.img_con{
    width: 100%;
    height: 64.5vh;
    background-color: #F47C7C;
    margin-top:10%;
    // overflow: hidden;
}
.img_con img {
    // transition: transform .90s ease;

    
}

// .img_con img:hover{
//     -ms-transform: scale(1.1); /* IE 9 */
//   -webkit-transform: scale(1.1); /* Safari 3-8 */
//   transform: scale(1.1); 
// }
.text_div{
    width: 100%;
    height: 20vh;
    background-color: #FAD4D4;
    margin-top: 1%;
}
.text_div img{
    // position: absolute;
    width: 4%;
    display: inline;
    margin-left: 22%;
    margin-top: 2%;
}
.txt{
    width: 100%;
    height: 5vh;
    // background-color: black;
}
.p1{
    // position: absolute;
    // margin-left: 18%;
    color: #fe6262;
    font-size: 20px;
    margin-left: 18%;
    display: inline-block;
    
   
}
.p2{
    display: inline-block;
    margin-left: 14%;
    color: #fe6262;
    font-size: 20px;
}
.p3{
    display: inline-block;
    margin-left: 12%;
    color: #fe6262;
    font-size: 20px;
}
.hm_podis{
    width: 100%;
    height: 65vh;
    background-color: #ffb88c;
}
.hm_podis p{
    // position: absolute;
    display: inline-flex;
    margin-left: 35%;
    font-size: 3em;
    font-weight: 700;
    color: white;
    top:10%;
    letter-spacing: 8px;
}
.podi_div img{
    border-radius: 26px;
    margin-top: 2%;
    display: inline;
    margin-left: 4%;
}
.blog{
    width: 100%;
    height: 70vh;
    // background-color:lightblue;
    // border: 8px solid blue;
}
.blog p{
    display: inline-flex;
    margin-left: 38%;
    font-size: 3em;
    font-weight: 700;
    color: #fe6262;
    top:10%;
    letter-spacing: 8px;
    
}
.line{
    // display: flex;
    margin-top: -4%;
   left: -5%;
}
.blog div{
    // top: -5%;
    width: 30%;
    height: 5vh;
    // background-color: black;
    margin-left: 26%;
    margin-top: -3%;
}
.blog_img{

    display: contents;
    width: 50%;
    height: 40vh;
    margin-top: 2%;
    // background-color: #F47C7C;
}
.blog_img img{
    display: inline-flex;
    width: 25%;
    margin-left: 6%;
    margin-top: 3%;
    border-radius: 22px;
}
.drop-down {
    position: absolute;
    background-color: white;
    width: 30%;
    margin-left: 8%;
    // display: none;
  
    
}

#user:hover .drop-down{
    border: 2px solid black;
    display: block;
}
.drop-down li{
    list-style-type:none;
    margin-left: -35%;
}