// Place all the styles related to the moms_delishes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
body{
    background-color: #FFFFFF;
    position: relative;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.nav {
    position: relative;
    color: black;
    list-style: none;
    display: flex;
    margin-left: 50%;
    font-size: 30px;
    
}
.nav li{
    margin-left: 10%;
    text-decoration: none;
   
    
}
.content{
    font-weight: 600;
    font-size:60px;
    margin-left: 10%;
    margin-top: 8%;
    line-height: 1.4em;
    position: absolute;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.tagline{
    margin-left: 10%;
    margin-top: 27%; 
    font-size: 25px;
    color: #4B5D67;
    // font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    position: absolute;
}
.btn{
    position: absolute;
    margin-top: 30%;
    margin-left: 18%;
    font-size: 22px;
    padding: 20px;
    background-color:#F47C7C ;
    width: 10%;
    border: 3px solid #EF9F9F ;
    border-radius: 25px;
    font-weight: 600;
    color: #FFFFFF;
}
.cont_img{
    position: relative;
    // background-color: #EF9F9F;
    width: 100%;
    height: 20vh;
    margin-top: 47%;
}
.cont_img p{
   position: absolute;
   margin-top: 8%;
    margin-left: -8%;
    font-size: 20px;
    display:inline;
    line-height: 1.5em;
    font-family: 'Aclonica';
}
.cont_img img{
    // position: absolute;
    width: 7%;
    display:inline-flex;
    margin-left: 11%;
}
.testi{
    position: relative;
    width: 100%;
    height: 80vh;
    margin-top: 2%;
    background-color:#FAD4D4;
}
.testi p{
    position: absolute;
    margin-top: -23.5%;
    margin-left: 10%;
    font-size: 20px;
    line-height: 2em;
    text-align: justify;
    display: flex;

}
.review{
    width: 35%;
    margin-top: 5%;
    margin-left: 8%;
    display:inline ;
    
}
.customer{
    position: absolute;
    width: 8%;
    margin-top: 5%;
    margin-left: -33%;
    display: inline;
}
footer{
    background-color: #FAD4D4;
    // position: static;
    border-top: #EF9F9F 2px solid; 
    height: 22vh;
    // width: ;
    margin-top: 40%;
    margin-left: -0.5%;
    // margin-right: %;
    position: absolute;
    width:100.5%;

}
footer p{
    margin-left: 20%;
    font-size: 25px;
    // font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}
.mom{
    margin-left: 45%;
    // margin-top: 3%;
    width: 50%;
    position: absolute;
}
.user{
    position: absolute;
    width: 4%;
  
}
.home{
    color: #F47C7C;
    text-decoration: none;
}
.about{
    text-decoration: none;
   color: black;
   
}
