// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
#login_div{
    width: 60%;
    height: 80vh;
    background-color: #FFFFFF;
    margin-left: 20%;
    margin-top: 5%;
    // display: none;
    border-radius: 25px;
    box-shadow: 10px 10px 15px #F47C7C;
    border: 2px solid #F47C7C;
    // position: absolute;
    top: 0%;
}
.log_p{
    position: absolute;
    font-size: 35px;
    margin-top: 25%;
    left: 15%;
    font-weight: 800;
}
.tag{
    position: absolute;
    margin-top: 35%;
    left: 15%;
}
.log_img{
    position: absolute;
    // background-color:#4B5D67;
    width: 30%;
    height: 80vh;
}
.log_con{
    position: absolute;
    // background-color: #EF9F9F;
    width: 30%;
    height: 80vh;
    margin-left: 30%;
}
.log_con div{
    margin-top: 20%;
    position: absolute;
    margin-left: 15%;
    margin-top: 40%;
    // background-color: blue;
    width: 70%;
    height: 40vh;
    
}
.con_ptag{
    display: inline-flex;
    margin-left: 10%;
    margin-top: 5%;
    // position: absolute;
}
.back_img{
    position: absolute;
    margin-top: 20%;
    width: 100%;
    margin-left: 10%;

}
.cross{
    position: absolute;
    width: 5%;
    margin-left: 4%;
    margin-top: 4%;
}
input{
    display: flex;
    padding: 3%;
    margin: -5%;
    margin-left: 5%;
    margin-top: 15%;
    font-size: 20px;
    background:transparent;
    border: 0;
    border-bottom: 2px solid lightgrey;
    outline: none;
   
}
.loginBtn{
    padding: 5%;
    margin-left: 60%;
    margin-top: 70%;
  bottom: 10%;
    width: 30%;
    font-size: 20px;
    border-radius: 30px;
    // border-color: #F47C7C;
    // text-align: center;
    position: absolute;
    }
.flash_msg{
    position: absolute;
    left: 10%;
    top:5%;
    background-color: black;
    width: 10%;
    height: 5vh;
    color: red;
    margin-left: 10%;
}