.user-profile-container{
    width: 30%;
    height: 80vh;
    border: 1px solid black;
    margin-top: 5%;
    margin-left: 35%;
    border-radius: 12px;
}
.outline-inner-div{
    width: 80%;
    height: 70vh;
    border: 1px solid black;
    margin-left: 10%;
    margin-top: 8%;
    border-radius: 18px;
}