.wishlist-container{
    width: 90%;
    height: 80vh;
    // background-color: lightblue;
    margin-top: 15%;
    margin-left: 5%;
}
.item-img-container{
    margin-left: 15%;
    margin-top: 5%;
    width: 20%;
    height: 43vh;
    display:inline-flex;
    margin-right:15%;
    // background-color: black;
    // border: 1px solid black;
    // margin-top: -3%;
}
.item-img-wl-div{
    margin: 0%;
    // position: relative;
    width: 100%;
    height: 35vh;
    // display:flex;
    // background-color: purple;
}
.item-wl-div-img1{
    width: 100%;
    height: 35vh;
    // position: absolute;
}
.item-img-wishlist{
    display:flex;
    width: 100%;
    height: 35vh;
    // margin-top: -21%;

}
.bottom-btn-wishlist{
    width: 100%;
    height: 8.5vh;
    background-color: #F47C7C;
    // display: inline;
    margin-top: 100%;
    margin-left: -100%;

}
.bottom-btn-wishlist img{
    display: inline-block;
    width: 12%;
    margin-left: 25%;
    margin-top: 5%;
}

.wishlist-img1{
    // width: 100%;
    width: 3%;
    margin-left: -34%;
    // bottom: 255px;
    margin-bottom: 255px;
    // margin-top: 20%;
    
}
.hover-div{
    // margin-top: -50%;
    position: relative;
    bottom: 270px;
    opacity: 0;
    margin-left: -20.3%;
    width: 20%;
    height: 5vh;
    // z-index: 1;

    display: inline-flex;
    background-color: blueviolet;
}

